body {
    /* И тут тоже */
    background-color: orange;
}
main {
    background-color: black;
/*  comment from d1*/
color: blueviolet;
/* commit by D2 */
}

footer {
    background: blue;
  /* comment from D2 */
}

main {
    /* commit by D2 */
    background: beige;
    color: aqua;
}

header{
    background-color: aquamarine;
    text-align: center;
    /*fhom D1*/
}