body {
    background-color: bisque;
}
main {
    background-color: black;
/*  comment from d1*/
}

footer {
    background: blue;
  /* comment from D2 */
}

header{
    background-color: aquamarine;
    text-align: center;
    /*fhom D1*/
}