body {
    background-color: bisque;
}

footer {
    background: blue;
  /* comment from D2 */
}

main {
    /* commit by D2 */
    background: beige;
}

header{
    background-color: aquamarine;
    text-align: center;
    /*fhom D1*/
}